<link rel="stylesheet" href="burger.css">

<body>

  <div id="mySidenav" class="sidenav">
    <a href="#" class="close" id="closeBtn">x</a>
    <ul>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
      <li><a href="#">link</a></li>
    </ul>
  </div>

  <a href="#" id="openBtn">
    <span class="burger-icon">
      <span></span>
      <span></span>
      <span></span>
    </span>
  </a>

</body>

<script type="text/javascript" src="burger.js"></script>