<link rel="stylesheet" href="button.css" />

<body>
  <div class="button-illustration">
    <div class="btn btn-yellow">
      <p class="btn-text text-black">button</p>
    </div>
  </div>

  <div class="button-illustration">
    <div class="btn btn-dark">
      <p class="btn-text text-white">button</p>
    </div>
  </div>

  <div class="button-illustration">
    <div class="btn btn-dark btn-animation">
        <p class="btn-text text-white text-animation">button</p>
      </div>
  </div>
</body>
