<link rel="stylesheet" href="collapsible.css">

<body>
  <div class="collapsible-cat">
    <button class="collapsible">name of content</button>
    <div class="content">
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia veritatis expedita beatae quae doloremque earum
        tempore non, perferendis fugiat nisi sunt consectetur eum impedit vitae esse necessitatibus fugit dolorem
        tenetur.
        Impedit ullam recusandae quos dolor sapiente laudantium totam, dignissimos odio maxime quaerat cum labore, sunt
        consectetur alias corporis mollitia repudiandae! Praesentium, autem suscipit! Blanditiis ducimus animi eum qui
        laborum tempore.
        Minus nobis reprehenderit perspiciatis eligendi voluptatibus. Ab architecto temporibus eum! Perspiciatis placeat
        in voluptatem odit fugiat, ab expedita corrupti optio voluptatum sed, aperiam hic consequuntur beatae dolore,
        accusamus cum nam?
      </p>
    </div>
    <button class="collapsible">name of content</button>
    <div class="content">
      <br />
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestias facere quaerat illum nemo ullam tenetur
        temporibus quisquam? Veniam, cumque architecto mollitia molestias porro excepturi, distinctio necessitatibus in
        autem blanditiis molestiae.
        Fugiat ut, harum commodi vel labore quae tempore tempora ab eveniet mollitia quia explicabo ipsam placeat
        laudantium nulla libero temporibus? In nulla ab harum aspernatur similique qui! Velit, recusandae earum!
        <br>
        Laboriosam mollitia hic consequatur quod, doloremque earum in assumenda molestiae ratione nisi debitis cumque
        velit odio, optio tenetur praesentium aperiam provident, culpa qui! Iste iusto delectus in amet unde nesciunt.
        Ut eveniet laborum natus perferendis. Cumque corrupti similique totam, neque iusto id eius reiciendis nisi
        tenetur impedit, maxime sunt, quos exercitationem! Praesentium perferendis in nostrum quos sunt dolorem ex quae.
        Molestias animi exercitationem repellendus maiores laboriosam maxime blanditiis sed accusantium facilis debitis
        adipisci, quo quas excepturi eos minima corporis nemo quibusdam odio ducimus eius atque. Illo minima soluta sunt
        nobis?
        <br>
        Adipisci quam possimus praesentium exercitationem quasi veniam repellendus. Maxime perspiciatis facere,
        similique provident omnis asperiores illo quasi unde nobis repellendus eaque et qui ad natus harum officia
        aliquam tempore nihil!
        Inventore pariatur quam aperiam provident quasi ipsa alias doloremque ullam consectetur molestiae ea, autem
        assumenda dolore praesentium quos tempora neque nostrum ducimus unde optio iusto recusandae aspernatur. Beatae,
        omnis unde!
        <br>
        Dolores, libero! Accusamus sapiente minus ipsum voluptatem, cum voluptatibus recusandae id optio a at quo
        nesciunt eligendi asperiores impedit placeat et vitae mollitia aliquam similique magnam illum maiores incidunt.
        Amet?
      </p>
    </div>
    <button class="collapsible">name of content</button>
    <div class="content">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati culpa laudantium, dolores placeat explicabo
        accusantium tempore praesentium ducimus eveniet adipisci quibusdam ratione! Impedit dolorum, ipsum distinctio
        quia vel praesentium voluptatibus!</p>
    </div>
    <button class="collapsible">name of content</button>
    <div class="content">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati culpa laudantium, dolores placeat explicabo
        accusantium tempore praesentium ducimus eveniet adipisci quibusdam ratione! Impedit dolorum, ipsum distinctio
        quia vel praesentium voluptatibus!</p>
    </div>
    <button class="collapsible">name of content</button>
    <div class="content">
      <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Obcaecati culpa laudantium, dolores placeat explicabo
        accusantium tempore praesentium ducimus eveniet adipisci quibusdam ratione! Impedit dolorum, ipsum distinctio
        quia vel praesentium voluptatibus!</p>
    </div>

  </div>
</body>

<script type="text/javascript" src="collapsible.js"></script>