footer
{
	display: flex;
	justify-content: space-between;
	text-align: center;
	border-top: solid 1px black;
	margin : 2em;
	flex-wrap: nowrap;
}
footer a
{
	font-weight: bolder;
	color: blue;

}
#twit
{
	font-weight: bolder;
	color: blue;
}
body
{
	background-color: none ;
}
table.blueTable {
    border: 0px solid #1C6EA4;
    background-color: #EEEEEE;
    width: 900px;
    text-align: left;
    border-collapse: collapse;
    margin-left : auto;
    margin-right: auto;
    margin-top: 5em;
    margin-bottom: 5em;
  }
  table.blueTable td, table.blueTable th {
    border: 0px solid #AAAAAA;
    padding: 3px 2px;
  }
  table.blueTable tbody td {
    font-size: 13px;
  }
  table.blueTable tr:nth-child(even) {
    background: none ;
  }
  table.blueTable thead {
    background: yellow;
    background: -moz-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: -webkit-linear-gradient(top, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    background: linear-gradient(to bottom, #5592bb 0%, #327cad 66%, #1C6EA4 100%);
    border-bottom: 2px solid #444444;
  }
  table.blueTable thead th {
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-left: 2px solid #D0E4F5;
  }
  table.blueTable thead th:first-child {
    border-left: none;
  }
  
  table.blueTable tfoot td {
    font-size: 14px;
  }
  table.blueTable tfoot .links {
    text-align: right;
  }
  table.blueTable tfoot .links a{
    display: inline-block;
    background: #1C6EA4;
    color: #FFFFFF;
    padding: 2px 8px;
    border-radius: 5px;
  }